{% extends "base.html" %}

{% block content %}

    <div class="row mb-5">
        <div class="col-sm-12">
            <div class="h1">{{ session['username'] }}</div>
            {% if session['cheatmode'] %}
            <p class="text-success">cheatmode aan: {{ session['code'] }}</p>
            {% endif %}
        </div>

        <div class="col-sm-12 bg-dark">
            <table class="table table-borderless text-white">
                <tr>
                    <th>ronde</th>
                    <th>code</th>
                    <th>zwart</th>
                    <th>wit</th>
                </tr>
                {%for i in range(0, session['stats']|length) %}
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{session['stats'][i][0]}}</td>
                    <td>{{session['stats'][i][1]}}</td>
                    <td>{{session['stats'][i][2]}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>

        <form class="col-sm-12 d-flex justify-content-center flex-column mt-4" action="{{ url_for('update_game')}}" method="POST">
            <label for="answer">Voer code in</label>
            <input type="number" placeholder="druk op enter" name="anwser">
        </form>
    </div>



{% endblock %}