{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-12 border">
            <p>{{ session['username'] }}</p>
            {% if session['cheatmode'] %}
            <p>{{ session['code'] }}</p>
            {% endif %}

        </div>
    </div>

    <div>
        <table>
            <th>
                <tr>
                    <td>ronde</td>
                    <td>code</td>
                    <td>zwart</td>
                    <td>wit</td>
                </tr>
            </th>
            {%for i in range(0, session['stats']|length) %}
            <tr>
                <td>{{i+1}}</td>
                <td>{{session['stats'][i][0]}}</td>
                <td>{{session['stats'][i][1]}}</td>
                <td>{{session['stats'][i][2]}}</td>
            </tr>
            {%endfor%}
        </table>
        </div>
        <form action="{{ url_for('update_game')}}" method="POST">
            <input type="number" name="anwser">
        </form>

{% endblock %}