{% extends "base.html" %}

{% block content %}

    <div class="h1">
        Start
    </div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
  {% endif %}
{% endwith %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <form action="{{ url_for('login') }}" method="post" class="d-flex flex-column col-sm-3">
                <div class="form-group">
                    <label for="name">Voer naam in</label>
                    <input type="text" placeholder="nickname" name="name" class="form-control" required>
                </div>


                <div class="form-group">
                    <input type="checkbox" name="allowdouble" data-toggle="toggle">
                    <label for="allowdouble">Dubbele kleuren toestaan</label>
                </div>

                <div class="form-group">
                     <label for="colors">Met hoeveel kleuren wil je spelen?</label>
                    <select class="custom-select custom-select-sm"  name="colors">
                          <option selected value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                    </select>
                </div>

                <div class="form-group">
                   <label for="positions">Met hoeveel posities wil je spelen?</label>
                    <select class="custom-select custom-select-sm" name="positions">
                          <option selected value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="checkbox" name="cheatmode" data-toggle="toggle">
                    <label for="cheatmode">Cheatemode</label>
                </div>

                <input type="submit" class="btn btn-success" value="start">
            </form>
        </div>
    </div>

{% endblock %}
